<!DOCTYPE html>
<html>
  <head>
    {% if title %}
        <title>{{title}} - flaskWeb</title>
    {% else %}
        <title>flaskWeb</title>
    {% endif %}
  </head>
  <body>
    <div>flaskWeb: <a href="/index">Home</a></div>
    <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
  </body>
</html>